@model IEnumerable<muscshop.Models.Album>




<table class="table">
    <tr>
        <th>Photo</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Price</th>
        <th>Release Year</th>
        <th>Description</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.AlbumUrl" style="width:60px; height:60px" /></td>
            <td><a href="/Store/ArtistInfo/@item.ArtistId">@item.Artist.Name</a></td>
            <td>@item.Title</td>
            <td>@item.Price</td>
            <td>@item.ReleaseYear</td>
            <th>@item.Description</th>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.AlbumId })</td>
            <td>@Html.ActionLink("Delete", "DeleteAlb", new { id = item.AlbumId })</td>
        </tr>
    }

</table>


